
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  
  font-style: normal;
}
*{
    width:1200 px;
    margin: 0;
}
header{
    
    margin-top: 50px;
    width: 100%;
    height: 550px;
    background-image: url(assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.head-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.btn-head{
    background-color: black;
    color:white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 15px;
    margin-top: 20px;
    cursor: pointer;

}
.first-img{
    margin-top: 30px;
    width: 150px;
    height: 150px;
}
.first-para{
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    color: rgb(13, 19, 33);
    margin-top: 20px;
}
.first2-para{
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    width: 758px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}
.first-sec{
    width: 900px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    
    border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
   

}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-h1{
    font-weight: bolder;
    
    font-size: 24px;
    margin-top: 40px;
    color: rgb(13, 19, 33);
}
.second-para{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    width: 700px;
    margin-bottom: 30px;
    }
.all{
    margin-left: 40px;
    margin-right: 40px;    
}
.coding{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 20px;
    background:linear-gradient(90deg,white,#ffffff41);
    border-radius: 9px;
    }
.description{
    width: 50%;
    padding: 30px;
    }
.img{
    width: 200px;
    height: 200px;
    padding-top: 40px;
    padding: 10px;
}

.first-h2{
    color: rgba(13, 19, 33, 0.7);
    font-size: 20px;
font-weight: 500;
word-spacing: normal;

}
.third-para{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 14px;
    line-height: 20px;
}
.btn{
    color: rgba(13, 19, 33, 0.664);
    font-size: 16px;
    border: 1px solid rgba(13, 19, 33, 0.63);
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.coding1{
   
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 20px;
    background:linear-gradient(90deg,#ffffff41,white);
    border-radius: 9px;
    }
.coding2{
   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 20px;
    background:linear-gradient(90deg,white,#ffffff41);
    border-radius: 9px;
    
    
    }
    .second-sec{
        width: 900px;
        margin: 0 auto;
    }
    .inspiration{
        margin-top: 100px;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .add-video{
        width: 900px;
        border: 1px solid rgba(13, 19, 33, 0.63); 
        border-radius: 9px;
        margin-top: 10px;
    }
    .vdo1{
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0 auto;
        align-self: stretch;
        padding-left: 80px;
        padding-right: 80px;
        
    }
    .third-sec{
        width: 900px;
        margin: 0 auto;
        

    }
    .targets{
        margin-top: 30px;
        width: 900px;
        display: flex;
        flex-direction: row;
        gap:20px;

    }
    .target{
        width: 33.3%;
    }
    .tar-para{
        padding-top: 15px;
        height:100px ;
    }
    .target1{
        border-radius: 16px;
        background: rgba(255, 76, 30, 0.05);
        padding: 20px; 
        text-align: justify;
    }
    .target2{
        border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
padding: 20px;
text-align: justify;
    }
.target3
{
        border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
padding: 20px;
text-align: justify;
}
.tar-head{
    padding-top: 5px;
}
.btn-tar{
        text-decoration: underline;
    }
.fourth-sec{
    width: 900px;

    margin: 0 auto;
    margin-top: 100px;
}
    
.support{
    width: 100%;
    background-image: url(assets/handshake.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 400px;
    background-color: rgba(0,0,0, 0.5);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
 
  
   .support-head{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
   }
   .support-para{
    color: rgb(255, 255, 255);
    opacity: 0.7;
    text-align: center;
    width: 500px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 30px;


   }
   .first{
    width: 450px;
    text-align: start;
    height: 40px;
    color: rgba(13, 19, 33, 0.664);
    font-size: 14px;
    border: 1px solid rgba(13, 19, 33, 0.63);
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    
    border-radius: 10px;
   }
   .second{
    width: 120px;
   
    text-align: center;
    height: 50px;
    font-weight: bold;
    color: black;
    font-size: 20px;
    border: 1px solid rgba(13, 19, 33, 0.63);
    
    margin-top: 20px;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
}
footer{
    
    margin-top: 100px;
    width: 100%;
    
}
.footer-all{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    height: 80px;
    align-items: center;
    
}
footer ul{
    display: flex;
    gap: 30px;
}
footer ul li{
    list-style: none;
}
.footer-para{
    color: rgb(13, 19, 33);
    font-size: 16px;
}